# 01

# 01. 예약어 

False, None, True, and, as, assert, async, await, break, class, continue, def, del, elif, else, except, finally,
for, from, global, if ,import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield

# 02. 실수 비교

In [1]:
import math
num1 = 0.1 * 3
num2 = 0.3
print(math.isclose(num1, num2))

True

In [2]:
print(abs(num1 - num2) <= 1e-10)

True

# 03. 이스케이프 시퀀스

1. 줄 바꿈 `\n` 
2. 탭 `\t`
3. 백슬래시 `\\`

# 04. String Interpolation

In [3]:
name = "철수"
print("안녕 %s야" % name)
print(f"'안녕, {name}야'")
print('안녕, {}야'.format(name))

안녕 철수야
'안녕, 철수야'
안녕, 철수야

In [4]:
print('안녕, ' + name + '야')

안녕, 철수야

# 05. 형 변환

In [5]:
int('3.5')

ValueError: invalid literal for int() with base 10: '3.5'

# 6. 네모 출력

In [6]:
n = 5
m = 9
print(('*' * n + '\n') * m)

*****
*****
*****
*****
*****
*****
*****
*****
*****

# 7. 이스케이스 시퀀스

In [7]:
print("\"파일은 c:\\Windows\\Users\\내문서\\Python에 저장이 되었습니다.\" 나는 생각했다. \'cd를 써서 git bash로 들어가 봐야지.\"")

"파일은 c:\Windows\Users\내문서\Python에 저장이 되었습니다." 나는 생각했다. 'cd를 써서 git bash로 들어가 봐야지."

# 8. 근의 공식 
(연산자 우선순위)

In [8]:
(-b + (b**2 - 4*a*c)**(0.5)) / (2*a)
(-b - (b**2 - 4*a*c)**(0.5)) / (2*a)

NameError: name 'b' is not defined

# 02.

## 01.

* 변경 가능한 (mutable) : List, Set, Dictionary
* 변경 불가능한 (immutable) : String, Tuple, Range

In [10]:
a = [1, 2, 3]
a[0] = '1'
a

['1', 2, 3]

In [13]:
a = {1, 2, 3}
a.add(4)
a

{1, 2, 3, 4}

In [15]:
a = 'string'
a[0] = '1'
a

TypeError: 'str' object does not support item assignment

In [16]:
a = (1, 2, 3)
a[0] = 3

TypeError: 'tuple' object does not support item assignment

## 02. 홀수

In [20]:
list(range(1, 21, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [19]:
list(range(1, 21)[::2])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## 03. 딕셔너리

In [21]:
a = {
    '홍길동': 300
}

## 04. 반복문 네모

In [24]:
n = 5
m = 9
for i in range(m):
    for j in range(n):
        print('*',end='')
    print('')

*****
*****
*****
*****
*****
*****
*****
*****
*****

In [23]:
n = 5
m = 9
for i in range(m):
    print('*' * n)

*****
*****
*****
*****
*****
*****
*****
*****
*****

# 05. 조건 표현식

In [26]:
temp = 36.5
print('입실 불가') if temp >= 37.5 else print('입실 가능')

입실 가능

## 06. 평균 구하기

In [ ]:
scores = [80, 89, 99, 83]
sum=0
for i in list(scores): 
    sum=sum+i
print(sum/len(scores))

In [ ]:
scores = [80, 89, 99, 83]
sum_scores = 0
for i in range(len(scores)):
    sum_scores += scores[i]
print(sum_scores/len(scores))

In [ ]:
scores = [80, 89, 99, 83]
sum = 0
avg = 0
num = 0
for i in scores:
    sum += i
    num += 1
    
avg = sum/num
print(avg)

In [29]:
scores = [80, 89, 99, 82]
sum = 0
for i in scores:
    sum += i
print(sum/len(scores))

87.5

In [28]:
scores = [80, 89, 99, 82]
# 초기화 
result = 0 
count = 0
for score in scores:
    # 하나씩 꺼내준 것을 더하고 (score)
    # 1씩 더하고 
    result = result + score
    count = count + 1
    
print(result/count)

87.5